h1 {
    color : cornflowerblue;
    text-align: center;
}

p {
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

footer {
    border-style: solid;
    text-align: center;
}